body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.header{
    background-color: aquamarine;
    text-align: center;
    padding: 2%;
}
.subheader{
    background-color: blanchedalmond;
    text-align: center;
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
}
p{
    text-align : center;
    color: aqua;


}
.item{
    position: relative;
}
.item p{
    position: absolute;
    top : 50%;
    left : 50%;
    transform:  translate(-50%,-50%);
    opacity: 0;
}
.item:hover p{
    opacity:1;
}
.item:hover img{
    opacity: 0.33;
}

